/* wapper box */
#wrapper{
  /* border:2px solid; */
  width: 60%;
  height: 200px;
  margin-left: 120px;
}

/* hour box */
#HH{
  border:1px solid red;
  width: 200px;
  height: 150px;
  margin-left: 50px;
  margin-top: 20px;
}

/* minutes box */
#MM{
  border:2px solid blue;
  width: 200px;
  height: 150px;
  margin-left: 260px;
  margin-top: -153px;
}

/* seconds bo */
#SS{
  border:2px solid green;
  width: 200px;
  height: 150px;
  margin-left: 470px;
  margin-top: -153px;
}
